// font-size
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;

// font-color
$fc-222: #222;
$fc-333: #333;
$fc-a8: #a8a8a8;
$fc-eee: #eee;

// border-color
$bc-eee: 1px solid #eee;
$bc-a8: 1px solid #a8a8a8;
$bc-222: 1px solid #222;


